<div appTheme>
  <div class="app-flex-layout-fix" fxFlexLayout="row">
    <div fxFlex="300px">
      <md-card>
        <md-card-title>Filters</md-card-title>

        <md-card-content>
          <form>
            <md-checkbox [(ngModel)]="gamesPipeArgs.playerGamesOnly" name="only my games"> Only my games</md-checkbox>
          </form>
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex="20px"></div>

    <div fxFlex>
      <div class="app-row" fxFlexLayout="row" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="10px">
        <div *ngFor="let game of games | games:gamesPipeArgs" fxFlex="350px">
          <div>
            <app-game-details-card [game]="game">
            </app-game-details-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
