<div appTheme>
  <div class="app-flex-fix-row" fxFlexLayout="row">
    <div>
      <md-card>
        <md-card-title>Settings</md-card-title>

        <md-card-content>
          <form>
            <md-select mdInput name="theme" placeholder="Theme" required [(ngModel)]="selectedTheme" (change)="onThemeSelected()">
              <md-option *ngFor="let theme of themes" [value]="theme">
                {{ theme.name }}
              </md-option>
            </md-select>
          </form>
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex="20px"></div>

    <div fxFlex>
      <md-card>
        <md-card-title>Examples</md-card-title>

        <md-card-content>
          <div class="app-flex-fix-row" fxFlexLayout="row">
            <div *ngFor="let exampleTile of exampleTiles">
              <app-mahjong-tile [tile]="exampleTile" scaleDirection="vertically" style="width: 100px"></app-mahjong-tile>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
