<div appTheme>
  <div fxLayout="row" fxLayoutAlign="center start">
    <div>
      <md-card>
        <md-card-title>Settings</md-card-title>

        <md-card-content>
          <md-select mdInput placeholder="Theme" required [(ngModel)]="selectedTheme" (change)="onThemeSelected()">
            <md-option *ngFor="let theme of themes" [value]="theme">
              {{ theme.name }}
            </md-option>
          </md-select>
        </md-card-content>
      </md-card>
    </div>

    <div fxFlex="20px"></div>

    <div>
      <md-card>
        <md-card-title>Examples</md-card-title>

        <md-card-content>
          <div fxLayout="row" fxLayoutGap="20px">
            <div *ngFor="let exampleTile of exampleTiles">
              <div fxLayout="column" fxLayoutGap="10px">
                <p>{{exampleTile.tileSuit}}</p>

                <app-mahjong-tile #appMahjongTile style="width: 100px" [tile]="exampleTile" scaleDirection="vertically"></app-mahjong-tile>

                <div fxFlex="13px"></div>

                <md-select mdInput placeholder="Tile name" required [(ngModel)]="exampleTile.name" (change)="appMahjongTile.update()">
                  <md-option *ngFor="let tileName of this.mahjongService.getSuitTileNames(exampleTile.suit)" [value]="tileName">
                    {{ tileName }}
                  </md-option>
                </md-select>
              </div>
            </div>
          </div>
        </md-card-content>
      </md-card>
    </div>
  </div>
</div>
