<div appTheme>
  <div class="app-flex-fix-row" fxFlexLayout="row">
    <div>
      <div fxFlexLayout="column">
        <div class="app-buttons-div">
          <a id="create-button" md-raised-button (click)="onCreateGameClicked()">
            <md-icon>add</md-icon> Create game
          </a>

          <button md-raised-button (click)="onRefreshGamesClicked()">
            <md-icon>refresh</md-icon> Refresh games
          </button>
        </div>

        <div>
          <md-card>
            <md-card-title>Filters</md-card-title>

            <md-card-content>
              <md-checkbox [(ngModel)]="gamesPipeArgs.filterPlayerGamesInverse" name="only my games"> Only my games</md-checkbox>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div fxFlex="20px"></div>

    <div fxFlex>
      <div class="app-games-row" fxFlexLayout="row" fxLayoutWrap fxLayoutAlign="center" fxLayoutGap="10px">
        <div *ngFor="let game of games | games:gamesPipeArgs" fxFlex="350px">
          <div class="{{game.createdBy.name}}">
            <app-game-details-card [game]="game" (gameJoined)="onGameJoined($event)" (gameDeleted)="onGameDeleted($event)">
            </app-game-details-card>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
