@import '~@angular/material/theming';
@import '../../css/theme';

@mixin app-mahjong-tile-component-create-tile-class($tileSet, $tileName, $spriteSheetUrl, $spriteWidth, $spriteHeight, $spriteXOffset, $spriteYOffset) {
  .#{$tileSet}-#{$tileName} {
      width: $spriteWidth;
      height: $spriteHeight;
      background: $spriteSheetUrl $spriteXOffset $spriteYOffset;
    }
}

@mixin app-mahjong-tile-component-create-tile-set-classes($set, $setClassName, $spriteSheetUrl, $spriteWidth, $spriteHeight) {
  @each $tile in $set {
    $tileName: map-get($tile, name);
    $spriteXOffset: map-get($tile, xOffset);
    $spriteYOffset: map-get($tile, yOffset);

    @include app-mahjong-tile-component-create-tile-class($setClassName, $tileName, $spriteSheetUrl, $spriteWidth, $spriteHeight, $spriteXOffset, $spriteYOffset);
  }
}

@mixin app-mahjong-tile-component-apply-theme($theme) {
  $mahjongTilesSpriteSheetUrl: map-get($theme, mahjongTilesSpriteSheetUrl);
  $mahjongTileSpriteWidth: map-get($theme, mahjongTileSpriteWidth);
  $mahjongTileSpriteHeight: map-get($theme, mahjongTileSpriteHeight);
  $mahjongTileSprites: map-get($theme, mahjongTileSprites);

  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, bamboo), 'bamboo', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, characters), 'character', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, dots), 'circle', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, winds), 'wind', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, dragons), 'dragon', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, flowers), 'flower', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
  @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, seasons), 'season', $mahjongTilesSpriteSheetUrl, $mahjongTileSpriteWidth, $mahjongTileSpriteHeight);
}

// Apply all the different themes.
$themes: app-get-themes();

@each $theme in $themes {
  .#{map-get($theme, themeName)} {
    @include app-mahjong-tile-component-apply-theme($theme);
  }
}

// Apply the default theme.
@include app-mahjong-tile-component-apply-theme(app-get-default-theme());
