@import '~@angular/material/theming';
@import '../../css/theme';

@mixin app-mahjong-tile-component-apply-theme($theme) {
  $mahjongTilesSpriteSheetUrl: map-get($theme, mahjongTilesSpriteSheetUrl);
  $mahjongTileSpriteWidth: map-get($theme, mahjongTileSpriteWidth);
  $mahjongTileSpriteHeight: map-get($theme, mahjongTileSpriteHeight);
  $mahjongTileSprites: map-get($theme, mahjongTileSprites);

  @each $tileClassName, $x, $y in $mahjongTileSprites {
    .#{$tileClassName} {
      width: $mahjongTileSpriteWidth;
      height: $mahjongTileSpriteHeight;
      background: $mahjongTilesSpriteSheetUrl $x $y;
    }
  }
}

// Apply all the different themes.
$themes: app-get-themes();

@each $theme in $themes {
  .#{map-get($theme, themeName)} {
    @include app-mahjong-tile-component-apply-theme($theme);
  }
}

// Apply the default theme.
@include app-mahjong-tile-component-apply-theme(app-get-default-theme());
