<div appTheme>
  <div fxLayout="row" fxLayoutAlign="center start" fxLayoutGap="80px">
    <md-card fxFlex="200">
      <md-card-title>My games</md-card-title>

      <md-card-content>
        <p>
          Show a list of all the games you are involved in.
        </p>
      </md-card-content>

      <md-card-actions>
        <button md-button [routerLink]="['mine']">GO</button>
      </md-card-actions>
    </md-card>

    <md-card fxFlex="200">
      <md-card-title>All games</md-card-title>

      <md-card-content>
        <p>
          Show a list of all games.
        </p>
      </md-card-content>

      <md-card-actions>
        <button md-button [routerLink]="['all']">GO</button>
      </md-card-actions>
    </md-card>

    <md-card fxFlex="200">
      <md-card-title>Games by state</md-card-title>

      <md-card-content>
        <p>
          Show a list of all games with on the selected state.
        </p>
      </md-card-content>

      <md-card-actions>
        <button md-button [routerLink]="['state/open']">OPEN</button>
        <button md-button [routerLink]="['state/playing']">PLAYING</button>
        <button md-button [routerLink]="['state/finished']">FINISHED</button>
      </md-card-actions>
    </md-card>
  </div>
</div>
