<md-toolbar color="primary">
    <button md-icon-button>
        <md-icon>menu</md-icon>
    </button>

    <h1 fxFlex>{{title}}</h1>

    <!--Login link or link to account page.-->
    <div>
        <div *ngIf="!mahjongMayhemApiService.isAuthenticated()">
            <a md-button href="{{mahjongMayhemApiService.getAuthenticationUri()}}">Login</a>
        </div>

        <div *ngIf="mahjongMayhemApiService.isAuthenticated()">
            <button md-button><md-icon>account_circle</md-icon> Account</button>
        </div>
    </div>
</md-toolbar>

<div class="container">
    <div fxLayout="row" class="content">
        <div>
            <app-game-list (gameAddClicked)="onGameAddClicked()" (gameSelected)="onGameSelected($event)">
            </app-game-list>
        </div>
        <div fxFlex>
            <app-game-detail #gameDetail>
            </app-game-detail>
        </div>
    </div>
</div>
