<md-toolbar color="primary">
    <button md-icon-button>
        <md-icon class="material-icons">menu</md-icon>
    </button>

    <h1>{{title}}</h1>
</md-toolbar>

<div class="container">
    <div fxLayout="row" class="content">
        <md-card>
            <md-card-title>Games</md-card-title>
            <md-card-content>
                <app-game-list (gameSelected)="onGameSelected($event)">
                </app-game-list>
            </md-card-content>
        </md-card>
        <md-card fxFlex>
            <md-card-title>Game</md-card-title>
            <md-card-content>
                <app-game-detail #gameDetail>
                </app-game-detail>
            </md-card-content>
        </md-card>
    </div>
</div>
