@import '~@angular/material/theming';
@import '../../../css/theme';

.app-theme-div {
  width: inherit;
  height: inherit;
}

@mixin app-mahjong-tile-component-create-tile-set-classes($set, $setClassName) {
  @each $tile in $set {
    $tileName: map-get($tile, name);
    $spriteXOffset: map-get($tile, xOffset);
    $spriteYOffset: map-get($tile, yOffset);

    .#{$setClassName}-#{$tileName} {
      background-image: inherit;
      background-size: inherit;
      background-repeat: inherit;
      background-position: $spriteXOffset $spriteYOffset;
    }
  }
}

@mixin app-mahjong-tile-component-apply-theme($theme) {
  $mahjongTilesSpriteSheetUrl: map-get($theme, mahjongTilesSpriteSheetUrl);
  $mahjongTilesSpriteSheetSpriteCountHorizontal: map-get($theme, mahjongTilesSpriteSheetSpriteCountHorizontal);
  $mahjongTilesSpriteSheetSpriteCountVertical: map-get($theme, mahjongTilesSpriteSheetSpriteCountVertical);

  $mahjongTileSprites: map-get($theme, mahjongTileSprites);

  .app-mahjong-tile-sprite {
    background-image: $mahjongTilesSpriteSheetUrl;
    background-size: $mahjongTilesSpriteSheetSpriteCountHorizontal * 100% $mahjongTilesSpriteSheetSpriteCountVertical * 100%;
    background-repeat: no-repeat;
    width: inherit;
    height: inherit;

    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, bamboo), 'bamboo');
    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, characters), 'character');
    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, dots), 'circle');
    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, winds), 'wind');
    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, dragons), 'dragon');
    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, flowers), 'flower');
    @include app-mahjong-tile-component-create-tile-set-classes(map-get($mahjongTileSprites, seasons), 'season');
  }
}

// Get the themes.
$themes: app-get-themes();

// Apply the themes.
@each $theme in $themes {
  $themeClass: map-get($theme, themeClass);

  .#{$themeClass} {
    @include app-mahjong-tile-component-apply-theme($theme);
  }
}
