<div appTheme>
  <div fxLayout="row">
    <div fxLayout="column" fxFlex="300px">
      <app-game-list (gameSelected)="onGameSelected($event)">
      </app-game-list>
    </div>

    <div fxLayout="column" fxFlex="80px"></div>

    <div fxLayout="column" fxFlexFill>
      <div fxLayout="row" fxFlex="40px"></div>

      <div fxLayout="row" fxFlex>
        <app-mahjong-board style="transform: scale(0.1); transform-origin: 0 0;"></app-mahjong-board>
      </div>
    </div>

    <div fxLayout="column" fxFlex="80px"></div>

    <div fxLayout="column" fxFlex="300px">
      <md-toolbar color="primary" class="bgc-blue-600">
        <h1 fxFlex>Game details</h1>
      </md-toolbar>

      <div>
        <md-nav-list>
        </md-nav-list>
      </div>
    </div>
  </div>
</div>
