@import './reset';
@import './theme';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

// NOTE: Temp (hopefully) fix for https://github.com/angular/flex-layout/issues/171
.app-flex-fix-row {
  display: flex;
  flex-direction: row;
}

.app-flex-fix-column {
  display: flex;
  flex-direction: column;
}
