$theme1-primary: mat-palette($mat-indigo);
$theme1-accent: mat-palette($mat-pink, A200, A100, A400);

$theme1: mat-light-theme($theme1-primary, $theme1-accent);

.app-theme1
{
    @include angular-material-theme($theme1);
}
