$theme1-primary: mat-palette($mat-indigo);
$theme1-accent: mat-palette($mat-pink, A200, A100, A400);

$theme1: mat-light-theme($theme1-primary, $theme1-accent);

$variables: (
    mahjong-tiles-sprite-sheet-url: url('/assets/mahjong_tiles_sprite_sheet_2.png'),
    mahjong-tile-sprite-width: 349px,
    mahjong-tile-sprite-height: 480px,
    mahjong-tile-sprites: (
        ('bamboo-1', 0px, 0px),
        ('bamboo-2', 0px, -480px),
        ('bamboo-3', 0px, -960px),
        ('bamboo-4', 0px, -1440px),
        ('bamboo-5', 0px, -1920px),
        ('bamboo-6', 0px, -2400px),
        ('bamboo-7', 0px, -2880px),
        ('bamboo-8', 0px, -3360px),
        ('bamboo-9', 0px, -3840px),
    )
);

$theme1: map-merge($theme1, $variables);

.app-theme1
{
    @include angular-material-theme($theme1);
}
