$materialThemePrimaryPalette: mat-palette($mat-indigo);
$materialThemeAccentPalette: mat-palette($mat-pink, A200, A100, A400);

$mahjongTileSpriteWidth: 7.692307692307692%;
$mahjongTileSpriteHeight: 50%;

$appTheme2: (
    themeName: 'Theme 2',
    themeClass: 'app-theme-2',

    materialThemePrimary: $materialThemePrimaryPalette,
    materialThemeAccent: $materialThemeAccentPalette,
    materialTheme: mat-light-theme($materialThemePrimaryPalette, $materialThemeAccentPalette),

    mahjongTilesSpriteSheetUrl: url('/assets/mahjong_tiles_sprite_sheet_1.png'),
    mahjongTilesSpriteSheetSpriteCountHorizontal: 14,
    mahjongTilesSpriteSheetSpriteCountVertical: 3,
    mahjongTileSprites: (
        bamboo: (
            (
                name: 1,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 2,
                xOffset: $mahjongTileSpriteWidth * 1,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 3,
                xOffset: $mahjongTileSpriteWidth * 2,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 4,
                xOffset: $mahjongTileSpriteWidth * 3,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 5,
                xOffset: $mahjongTileSpriteWidth * 4,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 6,
                xOffset: $mahjongTileSpriteWidth * 5,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 7,
                xOffset: $mahjongTileSpriteWidth * 6,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 8,
                xOffset: $mahjongTileSpriteWidth * 7,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 9,
                xOffset: $mahjongTileSpriteWidth * 8,
                yOffset: $mahjongTileSpriteHeight * 1
            )
        ),
        characters: (
            (
                name: 1,
                xOffset: 0,
                yOffset: 0
            ), (
                name: 2,
                xOffset: $mahjongTileSpriteWidth * 1,
                yOffset: 0
            ), (
                name: 3,
                xOffset: $mahjongTileSpriteWidth * 2,
                yOffset: 0
            ), (
                name: 4,
                xOffset: $mahjongTileSpriteWidth * 3,
                yOffset: 0
            ), (
                name: 5,
                xOffset: $mahjongTileSpriteWidth * 4,
                yOffset: 0
            ), (
                name: 6,
                xOffset: $mahjongTileSpriteWidth * 5,
                yOffset: 0
            ), (
                name: 7,
                xOffset: $mahjongTileSpriteWidth * 6,
                yOffset: 0
            ), (
                name: 8,
                xOffset: $mahjongTileSpriteWidth * 7,
                yOffset: 0
            ), (
                name: 9,
                xOffset: $mahjongTileSpriteWidth * 8,
                yOffset: 0
            )
        ),
        dots: (
            (
                name: 1,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 2,
                xOffset: $mahjongTileSpriteWidth * 1,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 3,
                xOffset: $mahjongTileSpriteWidth * 2,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 4,
                xOffset: $mahjongTileSpriteWidth * 3,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 5,
                xOffset: $mahjongTileSpriteWidth * 4,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 6,
                xOffset: $mahjongTileSpriteWidth * 5,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 7,
                xOffset: $mahjongTileSpriteWidth * 6,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 8,
                xOffset: $mahjongTileSpriteWidth * 7,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 9,
                xOffset: $mahjongTileSpriteWidth * 8,
                yOffset: $mahjongTileSpriteHeight * 2
            )
        ),
        winds: (
            (
                name: 'east',
                xOffset: $mahjongTileSpriteWidth * 11,
                yOffset: 0
            ),
            (
                name: 'north',
                xOffset: $mahjongTileSpriteWidth * 9,
                yOffset: 0
            ),
            (
                name: 'south',
                xOffset: $mahjongTileSpriteWidth * 10,
                yOffset: 0
            ),
            (
                name: 'west',
                xOffset: $mahjongTileSpriteWidth * 12,
                yOffset: 0
            )
        ),
        dragons: (
            (
                name: 'green',
                xOffset: $mahjongTileSpriteWidth * 13,
                yOffset: 0
            ),
            (
                name: 'red',
                xOffset: $mahjongTileSpriteWidth * 13,
                yOffset: $mahjongTileSpriteHeight * 1
            ),
            (
                name: 'white',
                xOffset: $mahjongTileSpriteWidth * 13,
                yOffset: $mahjongTileSpriteHeight * 2
            )
        ),
        flowers: (
            (
                name: 'bamboo',
                xOffset: $mahjongTileSpriteWidth * 9,
                yOffset: $mahjongTileSpriteHeight * 2
            ),
            (
                name: 'chrysanthemum',
                xOffset: $mahjongTileSpriteWidth * 12,
                yOffset: $mahjongTileSpriteHeight * 2
            ),
            (
                name: 'orchid',
                xOffset: $mahjongTileSpriteWidth * 11,
                yOffset: $mahjongTileSpriteHeight * 2
            ),
            (
                name: 'plum',
                xOffset: $mahjongTileSpriteWidth * 10,
                yOffset: $mahjongTileSpriteHeight * 2
            )
        ),
        seasons: (
            (
                name: 'fall',
                xOffset: $mahjongTileSpriteWidth * 11,
                yOffset: $mahjongTileSpriteHeight * 1
            ),
            (
                name: 'spring',
                xOffset: $mahjongTileSpriteWidth * 9,
                yOffset: $mahjongTileSpriteHeight * 1
            ),
            (
                name: 'summer',
                xOffset: $mahjongTileSpriteWidth * 10,
                yOffset: $mahjongTileSpriteHeight * 1
            ),
            (
                name: 'winter',
                xOffset: $mahjongTileSpriteWidth * 12,
                yOffset: $mahjongTileSpriteHeight * 1
            )
        )
    )
);

@function app-theme-2-get() {
    @return $appTheme2;
}
