$materialThemePrimaryPalette: mat-palette($mat-indigo);
$materialThemeAccentPalette: mat-palette($mat-pink, A200, A100, A400);

$mahjongTileSpriteHeight: 2.439024390243902%;

$appTheme1: (
    themeName: 'Theme 1',
    themeClass: 'app-theme-1',

    materialThemePrimary: $materialThemePrimaryPalette,
    materialThemeAccent: $materialThemeAccentPalette,
    materialTheme: mat-light-theme($materialThemePrimaryPalette, $materialThemeAccentPalette),

    mahjongTilesSpriteSheetUrl: url('/assets/mahjong_tiles_sprite_sheet_2.png'),
    mahjongTilesSpriteSheetSpriteCountHorizontal: 1,
    mahjongTilesSpriteSheetSpriteCountVertical: 42,
    mahjongTileSprites: (
        bamboo: (
            (
                name: 1,
                xOffset: $mahjongTileSpriteHeight,
                yOffset: 0
            ), (
                name: 2,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 1
            ), (
                name: 3,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 2
            ), (
                name: 4,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 3
            ), (
                name: 5,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 4
            ), (
                name: 6,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 5
            ), (
                name: 7,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 6
            ), (
                name: 8,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 7
            ), (
                name: 9,
                xOffset: 0,
                yOffset: $mahjongTileSpriteHeight * 8
            )
        ),
        characters: (
            (
                name: 1,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 9
            ), (
                name: 2,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 10
            ), (
                name: 3,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 11
            ), (
                name: 4,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 12
            ), (
                name: 5,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 13
            ), (
                name: 6,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 14
            ), (
                name: 7,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 15
            ), (
                name: 8,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 16
            ), (
                name: 9,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 17
            )
        ),
        dots: (
            (
                name: 1,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 18
            ), (
                name: 2,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 19
            ), (
                name: 3,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 20
            ), (
                name: 4,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 21
            ), (
                name: 5,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 22
            ), (
                name: 6,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 23
            ), (
                name: 7,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 24
            ), (
                name: 8,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 25
            ), (
                name: 9,
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 26
            )
        ),
        winds: (
            (
                name: 'east',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 38
            ),
            (
                name: 'north',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 39
            ),
            (
                name: 'south',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 40
            ),
            (
                name: 'west',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 41
            )
        ),
        dragons: (
            (
                name: 'green',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 27
            ),
            (
                name: 'red',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 28
            ),
            (
                name: 'white',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 29
            )
        ),
        flowers: (
            (
                name: 'bamboo',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 30
            ),
            (
                name: 'chrysanthemum',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 31
            ),
            (
                name: 'orchid',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 32
            ),
            (
                name: 'plum',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 33
            )
        ),
        seasons: (
            (
                name: 'fall',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 34
            ),
            (
                name: 'spring',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 35
            ),
            (
                name: 'summer',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 36
            ),
            (
                name: 'winter',
                xOffset: 0px,
                yOffset: $mahjongTileSpriteHeight * 37
            )
        )
    )
);

@function app-theme-1-get() {
    @return $appTheme1;
}
