<div appTheme>
  <md-card>
    <md-card-title>{{game.createdBy.name}}'s game</md-card-title>
    <md-card-subtitle>Template: {{game.gameTemplate.id}}</md-card-subtitle>

    <img md-card-image src="http://placehold.it/350x200">

    <md-card-content>
      <md-list>
        <h3 md-subheader>Players ({{game.players.length}}/{{game.maxPlayers}})</h3>

        <div *ngFor="let player of game.players">
          <md-list-item>
            <md-icon md-list-icon>person</md-icon>
            <h4 md-line>{{player.name}}</h4>
            <p md-line>{{player._id}}</p>
          </md-list-item>
        </div>

        <md-list-item>
          State: {{game.state}}
        </md-list-item>
      </md-list>
    </md-card-content>

    <md-card-actions>
      <button md-raised-button color="primary">Open</button>

      <div *ngIf="game.state == 'open'">
        <button md-raised-button color="primary">Join</button>
      </div>
    </md-card-actions>
  </md-card>
</div>
