@import '~@angular/material/theming';
@import '../../css/theme';

@mixin app-game-list-apply-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  .selected md-icon {
    color: mat-color($primary);
  }
}

// Apply all the different themes.
$themes: app-get-themes();

@each $theme in $themes {
  .#{nth($theme, 2)} {
    @include app-game-list-apply-theme(nth($theme, 1));
  }
}

// Apply the default theme.
@include app-game-list-apply-theme(app-get-default-theme())
