<md-toolbar color="primary" class="bgc-blue-600">
  <h1 fxFlex>Games</h1>

  <a md-icon-button routerLink="/creategame">
    <md-icon>add</md-icon>
  </a>

  <button md-icon-button (click)="onRefreshGamesClicked()">
    <md-icon>refresh</md-icon>
  </button>

</md-toolbar>

<div *ngIf="isLoadingGames">
  <md-spinner>Loading...</md-spinner>
</div>
<div *ngIf="!isLoadingGames">
  <md-nav-list>
    <md-list-item *ngFor="let game of games" (click)="onGameSelected(game)" class="item" [class.selected]="game === selectedGame">
      <md-icon md-list-icon>lens</md-icon>
      <span md-line>{{game.id}}</span>
      <span md-line class="secondary-text">{{game.minPlayers}}/{{game.maxPlayers}} players</span>
      <md-divider *ngIf="!$last"></md-divider>
    </md-list-item>
  </md-nav-list>
</div>
